.review_img {
  height: 300px;
  width: 100%;
  padding: 10px;
}
.slider_review {
  width: 60%;
}
.review_container {
  width: 260px;
  height: 500px;
  /* border: 1px solid red; */
}
.review_icon {
  /* text-align: center; */
  margin-left: 10px;
  color: #00d2d3;
}
.review_title {
  /* text-align: center; */
  margin-left: 10px;
}
.review_text p {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  width: 240px;
  font-weight: 300;
  font-size: 16px;
  z-index: 10;
}
.slick-slider.slick-initialized {
  margin-top: 30px;
}
@media screen and (min-width: 268px) and (max-width: 1024px) {
  .slider_review {
    width: 100%;
  }
  .review_container {
    width: 0 auto;
    flex-direction: row;
  }
  .review_img {
    width: 100px !important;
    height: 150px;
    padding: 5px;
  }
  .review_icon {
    width: 100px;
    margin: 0 auto;
  }
  .review_text p {
    width: 90px;
    flex-direction: row;
    font-size: 13px;
  }
  .review_title {
    width: 100px;
    margin: 0 auto;
    font-size: 16px;
  }
}
