.slider_products img {
  width: 80%;
  margin-top: 40px;
}
.slider_products {
  margin: 0 auto;
  width: 90%;
}
@media screen and (min-width: 268px) and (max-width: 1024px) {
  .slick-next,
  .slick-prev {
    width: 60px !important;
  }
  .right {
    right: -21px;
  }
  .slick-prev {
    left: -50px;
  }
}
@media screen and (max-width: 390px) and (max-width: 844px) {
  .slick-next,
  .slick-prev {
    width: 60px !important;
  }
  .right {
    right: -21px;
  }
  .slick-prev {
    left: -50px;
  }
}
