.slick-slide > div {
  margin: 0 5px;
}
.slick-list {
  margin: 0 5px;
}
.slick-prev::before,
.slick-next::before {
  color: #000;
  font-size: 30px;
}
.slick-prev {
  left: -25px;
}
.slick-next {
  right: -25px;
}
.slider img {
  width: 90%;
  margin-top: 40px;
}
.slider {
  margin: 0 auto;
  width: 90%;
}
.btn_2 {
  position: absolute;
  display: flex;
}
.btn_2 button {
  margin: 400px 0 0 700px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #00d2d3;
  color: #fff;
  font-family: "Geologica", sans-serif;
  transition: 1s;
}
.btn_2 button:hover {
  border-radius: 30px;
  background: #fd9644;
}
.btn_2-banner2 button {
  margin: 350px 0 0 400px;
  position: absolute;
  display: flex;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #00d2d3;
  color: #fff;
  font-family: "Geologica", sans-serif;
  transition: 1s;
}
.btn_2-banner2 button:hover {
  border-radius: 30px;
  background: #fd9644;
}
